.carousel-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  font-family: verdana;
}
.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  font-size: 30px;
  margin-top: -15px;
  padding: 8px 16px;
  color: #fff;
  transition: 0.25s ease;
}
.prev:hover,
.next:hover {
  background-color: rgba(9,9,9,0.537);
}
.next {
  right: 0;
}
.picture--dots {
  margin: 10px;
}
.picture--dot {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 0 4px;
  background-color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
  transition: 0.25s ease;
}
.picture--number {
  position: absolute;
  font-size: 18px;
  color: #fff;
  padding: 16px 9px;
  z-index: 3;
}
.picture--caption {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}
.picture--dots {
  display: flex;
  justify-content: center;
}
.picture--dot:hover,
.active {
  background-color: #808080;
}
.slide--image {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-moz-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
